html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa; /* Cambiar según sea necesario */
}

.container {
  border-radius: 5px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.card {
  border: none !important;
  border-radius: 0% !important;
  border-right: 1px solid #dee2e6 !important;
}
.card-footer {
  background-color: #fff !important;
}
